In [1]:
import numpy as np
import pandas as pd

In [7]:
scented_candles = pd.read_excel("Scented_all.xlsx", index_col="CandleID")

In [8]:
scented_candles

               Date  Rating                                             Review
CandleID
1        2018-04-08       5  I love candles so much that most every day I'm...
1        2018-11-08       1  Not up to par. Would not recommend. Dissatisfi...
1        2018-02-01       5  the Fresh Scent of a Northern Forest the scent...
1        2018-12-04       1  Smelled Bad I purchased three of these candles...
1        2018-01-18       5  Favorite Yankee candle scent! My absolute favo...
...             ...     ...                                                ...
5        2018-03-28       5    she loved this! Bought as gift, she loved this!
5        2019-06-26       5  Not too happy about the candle I could barely ...
5        2017-05-18       5         Five Stars Great delivery.  Great product.
5        2020-05-18       5                                          Good Good
5        2020-08-01       5                   Delicious I just love this scent

[17738 rows x 3 columns]

In [9]:
unscented_candles = pd.read_excel("Unscented_all.xlsx", index_col="CandleID")

In [10]:
unscented_candles

               Date  Rating
CandleID
1        2018-10-06       5
1        2018-01-08       5
1        2017-01-08       4
1        2017-12-29       5
1        2015-12-06       1
...             ...     ...
3        2020-01-02       4
3        2019-04-01       4
3        2020-08-08       5
3        2019-12-09       5
3        2019-10-26       5

[3597 rows x 2 columns]